<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>    
    <div>tets</div>
    
    <!-- Firebase hookin -->
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBAlYIfYjOK6N8MwVuIQvLzP5Io9Kr_Vjs",
            authDomain: "more-souls-to-heaven.firebaseapp.com",
            databaseURL: "https://more-souls-to-heaven.firebaseio.com",
            projectId: "more-souls-to-heaven",
            storageBucket: "",
            messagingSenderId: "362941743372"
        };
        firebase.initializeApp(config);
    </script>
</body>

</html>